header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}


.header_container{
    text-align: center;
    height: 100%;
    position: relative;    
}

/* ==========cta=========== */
.cta{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top:2.5rem;
}

/* ========social links========= */
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* =========media for mobile============= */
@media screen and (max-width: 600px) {
    header {
      /* width: var(--container-width-m); */
        height: 100vh;
    }
  
    .header_socials{
        display: none;
    }
    
  
  }